@{
    ViewBag.Title = "About";
}
<div class="jumbotron col-md-offset-2 col-md-8">
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <div>
                        <p>
                            <strong> Like restourant</strong>
                            <span class="badge">14</span>
                            <a href="#" class="btn btn-primary" role="button">
                                Button
                            </a>
                            <a href="#" class="btn btn-default" role="button">
                                Button
                            </a>
                        </p>
                    </div>
                </div>
                <div class="">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#home" data-toggle="tab">
                                General information
                            </a>
                        </li>
                        <li>
                            <a href="#profile" data-toggle="tab">
                                Images
                            </a>
                        </li>
                        <li>
                            <a href="#dropdown1">
                                News
                            </a>
                        </li>
                        <li>
                            <a href="#menus">
                                Menus
                            </a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="home">
                            <p>

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                                    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                                        <!-- The container for the modal slides -->
                                        <div class="slides"></div>
                                        <!-- Controls for the borderless lightbox -->
                                        <h3 class="title"></h3>
                                        <a class="prev">‹</a>
                                        <a class="next">›</a>
                                        <a class="close">×</a>
                                        <a class="play-pause"></a>
                                        <ol class="indicator"></ol>
                                        <!-- The modal dialog, which will be used to wrap the lightbox content -->
                                        <div class="modal fade">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title"></h4>
                                                    </div>
                                                    <div class="modal-body next" style="max-height: 500px; min-height: 400px;"></div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default pull-left prev">
                                                            <i class="glyphicon glyphicon-chevron-left"></i>
                                                            Previous
                                                        </button>
                                                        <button type="button" class="btn btn-primary next">
                                                            Next
                                                            <i class="glyphicon glyphicon-chevron-right"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div style="margin-top: 17px;">
                                        <div id="links">
                                            @foreach (var item in Model.Content)
                                            {
                                                <a href="@item.ImagePath" title="@item.Description" data-gallery>
                                                    <img src="@item.ThumbPath" alt="@item.Description" class="img-rounded" style="margin-bottom:7px;" />
                                                </a>
                                            }
                                        </div>
                                    </div>*@

                                    <div>
                                        @*@{
                                            var grid = new WebGrid(
                                                        canPage: true,
                                                        rowsPerPage: Model.PageSize,
                                                        canSort: true,
                                                        ajaxUpdateContainerId: "grid");

                                            grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
                                            grid.Pager(WebGridPagerModes.All);

                                            @grid.GetHtml(htmlAttributes: new { id = "grid" },
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            columns: grid.Columns());
                                        }*@
                                    </div>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <p>
                                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                                Exercitation +1 labore velit,
                                blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                                Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR.
                                Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="dropdown1">
                            <p>
                                Etsy mixtape wayfarers,
                                ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.
                                Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.
                                DIY synth PBR banksy irony.
                                Leggings gentrify squid 8-bit cred pitchfork.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="dropdown2">
                            <p>
                                Trust fund seitan letterpress,
                                keytar raw denim keffiyeh etsy art party before they sold out master cleanse
                                gluten-free squid scenester freegan cosby sweater.
                                Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.
                                Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>