@model VAgents.Info.ViewModel.Company.CompanyMessageViewModels

<div class="content-wrapper">
    <div class="row col-md-offset-1">

        <div>
            @Html.DisplayNameFor(model => model.Title)
            @Html.DisplayFor(model => model.Title)
            @Html.DisplayNameFor(model => model.Description)
            @Html.DisplayFor(model => model.Description)
            @Html.DisplayNameFor(model => model.CreationTime)
            @Html.DisplayFor(model => model.CreationTime)
            @Html.DisplayNameFor(model => model.Phone)
            @Html.DisplayFor(model => model.Phone)
            @Html.DisplayNameFor(model => model.FirstName)
            @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayNameFor(model => model.LastName)
            @Html.DisplayFor(model => model.LastName)
        </div>
    <</div>
</div>