@model VAgents.Info.Model.Product
@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>CreateProduct</h2>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()

    <br/>

    @Html.EditorFor(m=>m.Price) 
    @Html.EditorFor(m=>m.StartPromoPrice)
    @Html.EditorFor(m=>m.ProductName)
    @Html.EditorFor(m=>m.PromoPrice)
    @Html.EditorFor(m=>m.EndPromoPrice)

    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            <input type="submit" class="btn btn-default" />
        </div>
    </div>
}