@model VAgents.Info.ViewModel.CompanyInformationViewModels

<div class="content-wrapper">
    <div class="row col-md-offset-1">

        <div>
            @Html.DisplayNameFor(model => model.Name)
            @Html.DisplayFor(model => model.Name)
            @Html.DisplayNameFor(model => model.Description)
            @Html.DisplayFor(model => model.Description)
            @Html.DisplayNameFor(model => model.CreationTime)
            @Html.DisplayFor(model => model.CreationTime)
        </div>
    </div>
</div>
