<!DOCTYPE html>
<html>
<head>
    <title>VAgents.info</title>
    <link href="~/Content/Delux/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--theme-style-->
    <link href="~/Content/Delux/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Delux/font-awesome.css" rel="stylesheet">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Vide" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Best Hotel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!---->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!---->
    <link rel="stylesheet" href="~/Content/Delux/flexslider.css" type="text/css" media="screen" />
    <link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!---strat-date-piker---->
    <!-- requried-jsfiles-for owl -->
    <link href="~/Content/Delux/owl.carousel.css" rel="stylesheet">
    <script src="~/Scripts/owl.carousel.js"></script>
    <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items : 1,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
    </script>
    <!-- //requried-jsfiles-for owl -->

</head>
<body data-gr-c-s-loaded="true">
    <div class="banner">
    </div>
    <div class="header">
        <div class="container">
            <div class="header-menu">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand logo">
                                <h1><a href="index.html"><span>Vangent.</span>info</a></h1>
                            </div>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                @if (Request.IsAuthenticated)
                                {
                                    <li>
                                        <a href="/Business/Add">
                                            CreateBusiness
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/user/profil">
                                            Profile
                                        </a>
                                    </li>


                                    if (User.IsInRole(role: "Admin"))
                                    {
                                        <li>
                                            <a href="/administration/admin">
                                                administration
                                            </a>
                                        </li>
                                    }

                                }
                                else
                                {
                                    <li>
                                        <a href="/User/Search/index">
                                            Users search
                                        </a>
                                    </li>
                                }
                            </ul>
                            @Html.Partial("_LoginPartial")
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>     
        <div class="container body-content">
            @RenderBody()
        </div>
    <div class="copy-section">
        <div class="container">
            <div class="footer-top">
                <p>&copy; @DateTime.Now All rights reserved | Design by <a href="http://www.vagents.info">VAgents</a></p>
            </div>
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
