@model VAgents.Info.ViewModel.CompanyContactViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CompanyContactViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkTo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
