@model VAgents.Info.ViewModel.CompanyFeedBackClientViewModel

<div class="content-wrapper">
    <div class="row col-md-offset-1">
        <div>
            @Html.DisplayNameFor(model => model.Name)
            @Html.DisplayFor(model => model.Name)
            @Html.DisplayNameFor(model => model.LastName)
            @Html.DisplayFor(model => model.LastName)
            @Html.DisplayNameFor(model => model.WorkInCompany)
            @Html.DisplayFor(model => model.WorkInCompany)
            @Html.DisplayNameFor(model => model.CompanyPosition)
            @Html.DisplayFor(model => model.CompanyPosition)
            @Html.DisplayNameFor(model => model.Description)
            @Html.DisplayFor(model => model.Description)

        </div>
    </div>
</div>
